.game {
    padding: 75px;
}

.game__deck {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 10px;
    margin: 10px 0;
}

.game__deck--spare {
    grid-column: 1;
}

.game__deck--transparent {
    opacity: 0;
}