.deck {
  min-height: 166px;
  background:rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.deck__card {
  margin-top: -110px;
}

.deck__card--sticky {
  margin-top: -150px;
}

.deck__card--on-top {
  z-index: 2;
}
